{{define "index"}}
package index

type Index struct {
	Title         string
	Description   string
	PublishedDate string
	Href          string
	EntryName     string
}

const PageSize = {{ .PageSize }}

var Pages = [][]Index{
	{{- range $page := .Pages}}
	{
		{{- range $i, $value := $page}}
		{
			EntryName: {{ $value.EntryName | quote }},
			Title: {{ $value.Title | quote }},
			Description: {{ $value.Description | quote }},
			PublishedDate: {{ $value.PublishedDate | quote }},
			Href: {{ $value.Href | quote }},
		},
		{{- end}}
	},
	{{- end}}
}
{{- end}}
