{{define "index"}}
package index

type Index struct {
	Title         string
	Description   string
	PublishedDate string
	Href          string
}

const PageSize = {{ .PageSize }}

var Pages = []map[string]Index{
	{{- range $page := .Pages}}
	{
		{{- range $key, $value := $page}}
		"{{$key}}": {
			Title: {{ $value.Title | quote }},
			Description: {{ $value.Description | quote }},
			PublishedDate: {{ $value.PublishedDate | quote }},
			Href: {{ $value.Href | quote }},
		},
		{{- end}}
	},
	{{- end}}
}
{{- end}}
