{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta hx-preserve="true" charset="UTF-8" />
    <meta
      hx-preserve="true"
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <script
      hx-preserve="true"
      src="https://unpkg.com/htmx.org@1.9.5"
      integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
      crossorigin="anonymous"
    ></script>
    <script
      hx-preserve="true"
      src="https://unpkg.com/htmx.org@1.9.5/dist/ext/head-support.js"
      integrity="sha384-CtqhRhV1bHrqMSWc8cQGQL4epjUqCHjq/kJ9ztGHS39vO/1phOgyhFIieE87UKMu"
      crossorigin="anonymous"
    ></script>
    <script
      async
      hx-preserve="true"
      src="https://analytics.umami.is/script.js"
      data-website-id="0c4894fc-34fe-48dd-bf1a-79ec70aa621c"
    ></script>
    <link
      hx-preserve="true"
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@next/css/pico.classless.min.css"
      crossorigin="anonymous"
    />
    <link hx-preserve="true" rel="stylesheet" href="/static/app.css" />
    {{ template "head" . }}
  </head>
  <body hx-ext="head-support" hx-boost="true">
    <header>{{ template "Nav" . }}</header>
    {{ template "body" . }}
    <footer>{{ template "Footer" . }}</footer>
  </body>
</html>
{{ end }}
