body>header {
  padding-top: 2em;
  padding-bottom: 0;
}

body>footer {
  padding-top: 0;
  padding-bottom: 2em;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body>main{
  flex-grow: 1;
}

.anchor {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  text-decoration: none;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  opacity: 1;
}

ul li, ol li {
  line-height: 2em;
}

article > main {
  margin-top: 2em;
  margin-bottom: 2em;
}

@media (min-width: 640px) {
  article > main {
    margin: 2em;
  }
}

/** Code **/
pre code {
  font-size: 13px;
  line-height: 1.5;
}

.code-container {
  border-radius: var(--pico-border-radius);
}

.code-header {
  font-size: 13px;
  padding: var(--pico-spacing);
  border-bottom: 1px solid #646464;
}

.code-content {
  position: relative;
  direction: ltr;
}

.code-btn-group { /* top right copy button */
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  display: flex;
}

.code-btn-group button {
  background-color: #212121;
  color: #D4D4D4;
  border: 1px solid #606770;
  border-radius: .4rem;
  transition: opacity .2s ease-in-out;
  opacity: 0;
  align-items: center;
  padding: .4rem;
  line-height: 0;
  display: flex;
}

.code-btn-group button:hover {
  opacity: 1 !important;
}

.copy-btn-icons {
  width: 1rem;
  height: 1rem;
  position: relative;
}

.copy-btn-icons .copy-btn-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.copy-btn-copied {
  opacity: 1 !important;
}

.copy-btn-copied .copy-btn-icon {
  opacity: 0;
  transform: scale(.33);
}

.copy-btn-icons .copy-btn-success-icon {
  position: absolute;
  color: #00d600;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: all .2s ease;
  height: inherit;
  width: inherit;
  transform: translate(-50%,-50%) scale(.33);
}

.copy-btn-copied .copy-btn-success-icon {
  opacity: 1;
  transition-delay: 75ms;
  transform: translate(-50%,-50%) scale(1);
}

/** Admonitions **/
:root:not([data-theme=dark]),[data-theme=light] {
  --accordion-outline-width: 0;
  --accordion-outline-color: transparent;
}

[data-theme=dark]:root, :not([data-theme=dark]):root {
  --pico-font-family: 'Lato', 'Segoe UI', 'Ubuntu', 'Cantarell', 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --info-background-color: #193c47;
  --info-accent-color: #4cb3d4;
  --danger-background-color: #3c1a19;
  --danger-accent-color: #d44c4c;
  --warning-background-color: #3c2c19;
  --warning-accent-color: #d4c24c;
  --pico-font-family-monospace: "JetBrains Mono",ui-monospace,SFMono-Regular,"SF Mono",Menlo,Consolas,"Liberation Mono",monospace,var(--pico-font-family-emoji);
  --pico-line-height: 1.65;
  --accordion-outline-width: 2px;
  --accordion-outline-color: #13171f;
}

.admonition {
  margin-bottom: var(--pico-block-spacing-vertical);
  padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
  border-radius: var(--pico-border-radius);
  background: var(--pico-card-background-color);
  box-shadow: var(--pico-card-box-shadow);
  border-left-width: 5px;
  border-left-style: solid;
}

.adm-title {
  font-weight: 600;
}

.adm-info, .adm-note {
  background-color: var(--info-background-color);
  border-color: var(--info-accent-color);
}

.adm-warning, .adm-caution {
  background-color: var(--warning-background-color);
  border-color: var(--warning-accent-color);
}

.adm-danger {
  background-color: var(--danger-background-color);
  border-color: var(--danger-accent-color);
}

img {
  display: block;
  margin: 0 auto;
}

.sidebar {
  position: sticky;
  align-self: flex-start;
  flex-shrink: 0;
  order: 2;
  top: 0;
  font-size: 14px;
  line-height: 1.5;
  max-height: 100vh;
  overflow-y: auto;
  display: none;
}

.toc li {
  list-style: none;
}

.markdown-content {
  flex-grow: 1;
  display: block;
  max-width: 90vw;
}

@media (min-width: 640px) {
  .markdown-content {
    max-width: 80vw;
  }
}

@media (min-width: 960px) {
  .sidebar {
    display: block;
    max-width: 20vw;
  }

  .markdown-content {
    max-width: 65vw;
  }
}

.d2 > svg { width:100%; }

html {
  scroll-behavior: smooth;
  font-size: 18px;
}

.htmx-swapping .fade-out {
  opacity: 0;
  transition: opacity 0.05s ease-out;
}

.htmx-added .fade-in {
  opacity: 0;
}
.fade-in {
  opacity: 1;
  transition: opacity 0.05s ease-out;
}

.goto-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 1000;
  display: block;
}

@media (min-width: 960px) {
  .goto-top {
    display: none;
  }
}

.goto-top a {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 0;
}

article :not(code) p:not(:is(center p, center * p)) {
  text-align: justify;
}

blockquote {
  opacity: 0.7;
}

/**
 * Chip with always visible text.
 *
 * To use it, compute at component level: --label-r, --label-g, --label-b, --label-h, --label-s, --label-l to generate the color.
 */
.chip {
  --background-alpha: 0.18;
  --border-alpha: 0.3;
  --lightness-threshold: 0.6;
  --perceived-lightness: calc( ((var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) + (var(--label-b) * 0.0722)) / 255 );
  --lightness-switch: max(0, min(calc((1/(var(--lightness-threshold) - var(--perceived-lightness)))), 1));
  --lighten-by: calc(((var(--lightness-threshold) - var(--perceived-lightness)) * 100) * var(--lightness-switch));
  display: inline-block;
  padding: 0 10px;
  line-height: 22px;
  font-size: 14px;
  border-radius: 2em;
  border: 1px solid transparent;
  background-color: rgba(var(--label-r), var(--label-g), var(--label-b), var(--background-alpha));
  color: hsl(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%));
  border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%), var(--border-alpha));
}

/** Accordion **/

article.component {
  outline-color: var(--accordion-outline-color);
  outline-style: solid;
  outline-width: var(--accordion-outline-width);
  background-color: transparent
}

details summary:hover:not([role]) {
  color: var(--pico-accordion-active-summary-color)
}
