body>header {
  padding-top: 2em;
  padding-bottom: 0;
}

body>footer {
  padding-top: 0;
  padding-bottom: 2em;
}

.anchor {
  opacity: 0.3;
  transition: opacity 0.1s ease-in-out;
}

.anchor:hover {
  opacity: 1;
}

ul li, ol li {
  line-height: 2em;
}

