{{ `{{define "head"}}` }}
<title>{{ .Title }}</title>
<meta name="description" content="{{ .Description }}">
<style>
  {{ .Style }}
</style>
{{ `{{ end }}` }}

{{ `{{define "body"}}` }}
<main>
  <article>
    <center>
      <hgroup>
        <h1>{{ .Title }}</h1>
        <small>{{ .PublishedDate }}</small>
      </hgroup>
    </center>
    <main>
    {{ .Body }}
    </main>
  </article>
  <nav style="direction: rtl">
    {{- if .Prev }}
    <a href="{{ .Prev }}">« Old Article</a>
    {{- else }}
    <a></a>
    {{- end }}
    {{- if .Next }}
    <a href="{{ .Next }}">New Article »</a>
    {{- end }}
  </nav>
</main>
{{ `{{ end }}` }}
