{{ `{{define "head"}}` }}
<title>{{ .Title }} - Marc Nguyen's Blog</title>
<meta name="description" content="{{ .Description }}">
<meta name="author" content="Marc Nguyen">
<meta name="robots" content="index, follow" />
<meta property="og:title" content="{{ .Title }}"/>
<meta property="og:description" content="{{ .Description }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{`{{ .PublicURL }}`}}{{ .Curr }}" />
<link rel="canonical" href="{{`{{ .PublicURL }}`}}{{ .Curr }}" />
{{- if .Prev }}
<link rel="prev" href="{{`{{ .PublicURL }}`}}{{ .Prev }}" />
{{- end }}
{{- if .Next }}
<link rel="next" href="{{`{{ .PublicURL }}`}}{{ .Next }}" />
{{- end }}
<style>
  {{ .Style }}

  article main h1 {
    --pico-font-size: 4rem;
    margin-bottom: 0.5em;
  }

  article > main {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  @media (min-width: 320px) {
    article > main {
      margin: 2em;
    }
  }

  @media (min-width: 640px) {
    article > main {
      margin-top: 2em;
      margin-bottom: 2em;
      margin-left: 4em;
      margin-right: 4em;
    }
  }

  @media (min-width: 1280px) {
    article > main {
      margin-top: 2em;
      margin-bottom: 2em;
      margin-left: 8em;
      margin-right: 8em;
    }
  }

  @media (min-width: 1600px) {
    article > main {
      margin-top: 4em;
      margin-bottom: 4em;
      margin-left: 12em;
      margin-right: 12em;
    }
  }

  hgroup {
    margin-bottom: 1em;
  }

</style>
{{ `{{ end }}` }}

{{ `{{define "body"}}` }}
<div class="goto-top">
  <a role="button" href="#top">
    <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg">
      <path id="scrolltop-arrow" d="M14.83 30.83l9.17-9.17 9.17 9.17 2.83-2.83-12-12-12 12z"></path>
    </svg>
  </a>
</div>
<div style="display: flex; justify-content: center; height: 100%;">
  <div class="sidebar">
    <div class="toc" style="padding-top: 24px; padding-bottom: 24px;">
      {{ $.TOC }}
    </div>
  </div>
  <div class="markdown-content">
    <article>
      <main>
        <hgroup>
          <h1>{{ .Title }}</h1>
          <small>{{ .PublishedDate }} · {{ .ReadingTime }} read · Viewed {{ `{{ .PageViewsF }}` }} {{ `{{ .PageViews | plural "time" "times" }}` }}</small>
        </hgroup>

        <hr>

        {{ .Body }}
      </main>

      <script src="https://giscus.app/client.js"
        data-repo="Darkness4/blog"
        data-repo-id="R_kgDOKP4DpA"
        data-category="Announcements"
        data-category-id="DIC_kwDOKP4DpM4Cg1QZ"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
      </script>

    </article>
    <nav style="direction: rtl">
      {{- if .Prev }}
      <a href="{{ .Prev }}">« Old Article</a>
      {{- else }}
      <div></div>
      {{- end }}
      {{- if .Next }}
      <a href="{{ .Next }}">New Article »</a>
      {{- end }}
    </nav>
  <div>
<div>
{{ `{{ end }}` }}
